* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* icon bar */
.icon {
    width: 100%;
    height: 6.1vh;
    background: linear-gradient(to right, seagreen, lightgrey);
}

.iconrap {
    width: 80%;
    margin: auto;
    padding-top: 8px;
}

.icon1 {
    margin-left: 600px;
}

.icon1 ul {
    padding-top: 5px;
}

.icon1 ul li {
    margin-top: 50px;
    display: inline;
    font-size: 19px;
    padding-left: 35px;
    padding-right: 35px;
}

.icon1 ul li a {
    font-family: 'Athiti', sans-serif;
    text-decoration: none;
    color: black;
}

.icon1 ul li a:hover {
    color: blue;
}

.search-container {
    float: right;
    margin-top: -50px;
}

.icon input[type=text] {
    padding: 6px;
    margin-left: 150px;
    font-size: 17px;
    border: none;
}

.search-container button {
    float: right;
    padding: 6px 12px;
    /* margin-left: 1px; */
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-container button:hover {
    color: green;
}

/*Navigation Bar*/
.nav {
    width: 100%;
    height: 8vh;
    background-color: rgb(36, 209, 200);
}

.navrap {
    width: 70%;
    margin: auto;
}

.logo img {
    margin-top: 10px;
}

.logo h1 {
    margin-top: -55px;
    font-size: 40px;
    font-family: 'Rancho', cursive;
    margin-left: 80px;
}

.menu {
    float: right;
}

.menu ul li {
    display: inline;
}

.nav-link {
    display: inline;
}

.menu ul {
    margin-top: -45px;
}

.menu ul li a {
    padding-left: 45px;
    padding-right: 45px;
    font-size: 21px;
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.dropdown-menu li a:hover {
    background-color: orange;
}

.menu ul li a:hover {
    color: white;
}

/*  */

.contact {
    position: relative;
    min-height: 90vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(./ban40.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    margin-top: -130px;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.contact .content p {
    /* font-size: 36px; */
    font-weight: 300;
    color: #fff;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon2 {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.contactfrom {
    width: 40%;
    padding: 40px;
    background: #fff;
}

.contactfrom h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactfrom .inputbox {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactfrom .inputbox input,
.contactfrom .inputbox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}

.contactfrom .inputbox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactfrom .inputbox input:focus~span,
.contactfrom .inputbox input:valid~span,
.contactfrom .inputbox textarea:focus~span,
.contactfrom .inputbox textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contactfrom .inputbox input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) {
    .contact {
        padding: 50px;
    }

    .container {
        flex-direction: column;
    }

    .container .contactInfo {
        margin-bottom: 40px;
    }

    .container .contactInfo {
        width: 100%;
    }
}

/* Footer */
.footer {
    width: 100%;
    height: 40vh;
    background: linear-gradient(to right, seagreen, lightgrey);
}

.footerrap {
    width: 80%;
    margin-left: 250px;
}

.footerrap1 {
    width: 90%;
    padding-top: 45px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 5px;
}

.write h1 {
    width: 40%;
    font-size: 30px;
    font-family: 'Rancho', cursive;
    color: black;
}

.write p {
    width: 70%;
    text-align: justify;
    color: white;
    margin-top: 25px;
}

.mainicon {
    padding-top: 40px;
    display: flex;
    float: left;
}

.mainicon h3 {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 25px;
    color: black;
    font-family: 'Rancho', cursive;
}

.app a {
    display: inline-block !important;
    text-align: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0 10px 10px;
    border-radius: 40px;
    border: 2px solid white;
}

.app a span {
    margin-top: 19px;
    font-size: 20px;
    color: blue;
    font-size: 1.2em;
    line-height: 10px;
    vertical-align: baseline;
}

.app :hover {
    background-color: white;
}

.app1 a {
    display: inline-block !important;
    text-align: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0 10px 10px;
    border-radius: 40px;
    border: 2px solid white;
}

.app1 a span {
    margin-top: 19px;
    font-size: 20px;
    color: deeppink;
    font-size: 1.2em;
    line-height: 10px;
    vertical-align: baseline;
}

.app1 :hover {
    background-color: white;
}

.app2 a {
    display: inline-block !important;
    text-align: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0 10px 10px;
    border-radius: 40px;
    border: 2px solid white;
}

.app2 a span {
    margin-top: 19px;
    font-size: 20px;
    color: red;
    font-size: 1.2em;
    line-height: 10px;
    vertical-align: baseline;
}

.app2 :hover {
    background-color: white;
}

.app3 a {
    display: inline-block !important;
    text-align: center;
    overflow: hidden;
    width: 50px;
    height: 50px;
    float: none;
    margin: 0 10px 10px;
    border-radius: 40px;
    border: 2px solid white;
}

.app3 a span {
    margin-top: 19px;
    font-size: 20px;
    color: green;
    font-size: 1.2em;
    line-height: 10px;
    vertical-align: baseline;
}

.app3 :hover {
    background-color: white;
}

.write h2 {
    color: black;
    font-size: 35px;
    font-family: 'Rancho', cursive;
    padding-left: 20px;
}

.link {
    margin-top: 20px;
    margin-right: 100px;
}

.link ul li {
    font-size: 25px;
    list-style-type: none;
    padding-top: 10px;
}

.link ul li a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.link ul li a:hover {
    color: blue;
}

.write1 {
    margin-left: 20px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-top: 40px;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: seagreen;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    margin-top: 40px;
    cursor: pointer;
}

form.example button:hover {
    background: black;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}


/*last*/
.last {
    width: 100%;
    height: 6vh;
    background-color: black;
}

.lastrap {
    width: 80%;
    margin: auto;
}

.lastrap h2 {
    color: white;
    font-size: 25px;
    padding-top: 17px;
    text-align: center;
    text-decoration: none;
    font-weight: lighter;
}